@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

/*Zerando espaçamento CSS nativo do HTML*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilização Base*/
html {
    font-size: 8px;
    font-family: 'Poppins', monospace;
    background-color: #F1F1F1;
    scroll-behavior: smooth;
}

/*Removendo Cor dos hyperlinks*/
a {
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: gray;
    margin-bottom: 64px;
}

.fheader{
    margin-left: 96px;
}
.fheader img{
    width: 48px;
}
header h1{
    font-size: 4rem;
    margin-left: 16px;
}

.mform{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 80%;
    height: 80%;
    margin-left: 96px;
}
.mform h2{
    font-size: 3rem;

}
.ffigure{
    display: flex;
    align-content: center;
    align-items: center;
    margin-right: 8px;
}
.ffigure img{
    width: 24px;
}

.info-form {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
.info-form-texts h3{
    font-size: 2rem;

}

.fofigure img{
    width: 20rem;
    border-radius: 10px;
    margin: 32px;
}

.oneforms{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    width: 100%;
    border-radius: 20px;
    background-color: blanchedalmond;
}
.oneforms h4{
    font-size: 1.5rem;
}

.form{
    display: flex;;
    height: 80%;
    flex-direction: column;
    margin-right: 32px;
    align-content: center;

}

.form-align{
    display: flex;
    flex-direction: column;
    margin: 32px 0 0 0px;
}

.text-form{
    display: flex;
    justify-content: flex-start;
}
.fnome{
    display: flex;
    flex-direction: column;
}
.fnome input{
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    height: 24px;
}

.twoform{
    display: flex;
    flex-direction: row;
}
.form-org{
    display: flex;
    flex-direction: row;
}

.twoform input{
    width: 96px;
    border-radius: 8px;
    height: 24px;
}
.twoform1 input{
    display: flex;
    flex-direction: row;
    margin-right: 32px;
    margin-top: 8px;
    margin-bottom: 16px;
}
.twoform2 input{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

label {
    font-size: 1.5rem;
}